{% extends 'base_layout.html' %}
{% block content %}
    <h1 class='site-title'>Article  List</h1>
    <div class="articles">
        {% for article in articles %}
            <div class="article">
                <h2><a href="{% url 'articles:detail' slug=article.slug %}">{{article.title}}</a></h2>
                <p class='list-body'>{{ article.snippet}}</p>
                <p class="date-color">{{ article.date}}</p>
                <!-- #30 -->
                <p class="author">added by {{ article.author.username }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
